.nav{
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 80px;
    font-weight: bold;
    .nav-der{
        align-self: center;
        img{
            width: 50px;
            
        }
    }

    .nav-centro{
        align-self: center;
        height: 100%;
        display: grid;
        font-size: 20px;
        .nav-centro-arriba{
            display: grid;
            align-items: center;
            justify-items: center;
        }
        .nav-centro-abajo{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            a{
                text-decoration: none;
                color: black;
                cursor: pointer;
                
            }
        }
    }


    .nav-izq{
        align-self: center;
        display: grid;
        position: relative;
        
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        /* z-index: 1; */
        #bolitaCarrito{
            /* z-index: 2; */
        }
        
        
        a{
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            position: absolute;
            img{
                width: 30px ;
                margin-left: 10px;
            }

            .bolitaCarrito{
                display: block;
                position: relative;
                background-color: red;
                
                width: 16px;
                height: 16px;
                
                font-size: 12px;
                border-radius: 50%;
                text-align: center;
                display: grid;
                align-items: center;
                
                left:-7px;
                top: 13px;
            }
        }

        
    }
}